<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
</head>

<body>
    <h2>{{ thr }}</h2>
    {% if thr %}
    <table>
        <tr>
            <th>ID</th>
            <th>Teachers ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for th in thr %}
        <tr>
            <td>th.id</td>
            <td>th.tid</td>
            <td>th.tname</td>
            <td>th.temail</td>
        </tr>
        {% endfor %}

    </table>
    {% else %}
    <h2>Empty</h2>
    {% endif %}
</body>

</html>